{% extends 'base.html.twig' %}

{% block title %}Le Blog de Lea{% endblock %}

{% block body %}
    <div>
        <h1>Mettre le mot de passe à jour</h1>

        {# identifiant utilisateur à supprimer
        <h2>Identifiant utilisateur : {{ app.session.get('user_id') }}</h2>
        #}

        {{ form_start(changePass, {'attr' : {'novalidate' : 'novalidate'}}) }}
            <div>
                <div>
                    {{ form_errors(changePass.newPassword) }}
                    {{ form_widget(changePass.newPassword) }}
                </div>

                <div>
                    {{ form_errors(changePass.repeatNewPassword) }}
                    {{ form_widget(changePass.repeatNewPassword) }}
                </div>

                <button type="submit">Mettre à jour le mot de passe</button>
            </div>
        {{ form_end(changePass) }}
    </div>
{% endblock %}