{% extends 'base.html.twig' %}

{% block title %}Le Blog de Lea{% endblock %}

{% block body %}
    <div>
        <h1>Entrez votre email</h1>

        {{ form_start(checkingEmail, {'attr' : {'novalidate' : 'novalidate'}}) }}
            <div>
                {{ form_errors(checkingEmail.email) }}
                {{ form_label(checkingEmail.email) }}<br >
                {{ form_widget(checkingEmail.email) }}
            </div>

            <button type="submit">Verifier votre email</button>
        {{ form_end(checkingEmail) }}
    </div>
{% endblock %}