{% extends 'base.html.twig' %}

{% block title %}Le Blog de Lea | Inscription{% endblock %}

{% block body %}
    <div>

        <h1>Inscription</h1>

        {{ form_start(registration, {'attr' : {'novalidate' : 'novalidate'}}) }}

            <div>
                <div>
                    {{ form_errors(registration.pseudonyme) }}
                    <p>{{ form_widget(registration.pseudonyme) }}</p>
                </div>

                <div>
                    {{ form_errors(registration.email) }}
                    <p>{{ form_widget(registration.email, {'attr' : {'maxlenght' : 5}}) }}</p>
                </div>

                <div>
                    {{ form_errors(registration.password) }}
                    <p>{{ form_widget(registration.password) }}</p>
                </div>

                <button type="submit">S'enregistrer</button>
            </div>

        {{ form_end(registration) }}
    </div>
{% endblock %}